.navbar {
    background-color: white;
    border-bottom: #2B5C6B;
    
}

.nav-link {
    color: rgb(238, 231, 231);
    font-size: 35px;
    
}


.section-padding {
    padding-top: 50px;
}



nav a:hover {
    color: rgb(6, 85, 109);
    
}

nav a.selected {
    color: rgb(6, 85, 109);
    
    
}


